

.headindSyling1{
    background-color: aliceblue;
    color: cadetblue;
    height: 500px;
    width: 100px;
}

.headinds2{
    background-color: red;
    color: blue;
    height: 50px;
    width: 130px;
}